---
title: "Categories"
layout: default
permalink: "/categories"
---
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Categories</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include menu-categories.html %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-columns">
                    {% for category in site.categories %}
                </div>
                <h2 id="{{ category[0] | downcase }}"><small class="text-muted"></small> {{ category[0] }}</h2>
                <div class="card-columns">
                    {% assign pages_list = category[1] %}
                    {% for post in pages_list %}
                    {% if post.title != null %}
                    {% if group == null or group == post.group %}
                    {% include card-post.html %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% assign pages_list = nil %}
                    {% assign group = nil %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>