---
title: "Social Tech Response Playbook (COVID-19)"
layout: default
description: "A technology guide for social service agencies responding to the increased demand for basic needs during the coronavirus pandemic."
---
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Social Tech Playbook for COVID-19 Response</h1>
                <p class="lead">A technology guide for social service agencies responding to the increased demand for basic needs during the coronavirus pandemic.</p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>
{% include partners.html %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>About the playbook</h2>
            <p>The Social Tech Playbook for COVID-19 Response is designed for state, local, and nonprofit agencies. It provides practical and timely guidance to help leaders meet the overwhelming demand for basic needs such as food, health, and income assistance. During the COVID-19 pandemic, agencies have had to quickly change business operations in order to protect their staff while continuing  to provide help and support to the community. They’ve also had to quickly implement changes to reflect new federal, state, and local policies and procedures. Our playbook reflects  a collaboration between nonprofit and social impact organizations focused on leveraging technology, policy, design, and data expertise to transform the ways public-serving institutions deliver and manage social support and services.</p>
        </div>
        <div class="col-lg-4">
            <h2>Feedback</h2>
            {% include feedback.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>Who this is for</h2>
            <p>State, local, and nonprofit social service agencies that administer programs to provide food (SNAP and WIC), health (Medicaid/CHIP), and income assistance (TANF and unemployment benefits) to those in need.</p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
{% include plays.html %}