---
title: "Social Tech Playbook for COVID-19 Response"
layout: default
description: "A technology guide for social service agencies responding to the increased demand for basic needs during the coronavirus pandemic."
---
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Social Tech Playbook for COVID-19 Response</h1>
                <p class="lead">A technology guide for social service agencies responding to the increased demand for basic needs during the coronavirus pandemic.</p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>About the playbook</h2>
            <p>The Social Tech Playbook for COVID-19 Response is designed for state, local, and nonprofit agencies. It provides practical and timely guidance to help leaders meet the overwhelming demand for basic needs such as food, health, and income assistance. During the COVID-19 pandemic, agencies have had to quickly change business operations in order to protect their staff while continuing to provide help and support to the community. They’ve also had to quickly implement changes to reflect new federal, state, and local policies and procedures. Our playbook reflects a collaboration between nonprofit, social impact organizations focused on leveraging technology to transform the ways public-serving institutions deliver and manage social support and services. This playbook will be updated weekly with new plays . . . check back regularly.</p>
        </div>
        <div class="col-lg-4">
            <h2>Feedback</h2>
            <p><a class="btn btn-primary btn-lg" href="{{ '/feedback' | relative_url }}" role="button">Share your feedback</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>Who this is for</h2>
            <p>State, local, and nonprofit social service agencies that administer programs to provide food (SNAP and WIC), health (Medicaid/CHIP), and income assistance (TANF and unemployment benefits) to those in need.</p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
{% include plays.html %}
<br>
{% include partners.html %}
