{% if post.invisible == true %}
<div class="card card-pin raco" style="min-height:250px; min-width: 18rem; background-color: transparent; color: transparent;"></div>
{% else %}
<div class="card card-pin raco" style="min-height:250px; min-width: 18rem;">
    <div class="card-body icon d-block">
        <a href="{{ post.url | relative_url }}" class="stretched-link">
            <div class="card-icon">
                {% if post.icon %}
                <i class="{{ post.icon }}"></i>
                {% else %}
                <i class="fas fa-comments"></i>
                {% endif %}
            </div>
        <div class="card-footer">
            <h6>{{ post.short_title }}</h6>
            <div style="text-align: right;">
                <i class="fa fa-arrow-circle-right" aria-hidden="true" style="font-size: 1rem;"></i>
            </div>
        </div>
        </a>
    </div>
</div>
{% endif %}