<div class="dropdown show nav-link" id="play-button">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Plays
  </a>
  
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    {% for play in site.posts %}
      {% if play.title != "More plays coming soon!" %}
        <a class="dropdown-item" id="play-dropdown-{{ forloop.index }}" href="{{ site.baseurl }}{{ play.url }}">{{ play.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
